In [5]:
from sklearn import datasets
import pandas as pd
path = "Datasets/"
carpinteria = pd.read_csv(path+"carpinteria.csv") 
constructora = pd.read_csv(path+"Constructoras.csv")
sastreria = pd.read_csv(path+"sastreria.csv")
mecanica = pd.read_csv(path+"mecanica.csv")
abogados = pd.read_csv(path+"Abogados.csv")
servicios_medicos = pd.read_csv(path+"ServiciosMedicos.csv")
X, y = datasets.load_iris(return_X_y=True)

In [6]:
carpinteria.columns = carpinteria.iloc[1,:]

In [7]:
carpinteria = carpinteria.iloc[2:,1:]

In [8]:
carpinteria

1    337    321    113    313     541
2  24000    299  -5000   -300   -5000
3  13990   1200  -2000   -300    -400
4  -3229  70400   -300   -400  -10000
5  12000  32019      0  -5000   -1200
6   4000   -290   -300  -4000    -399

In [9]:
constructora = constructora.iloc[:,1:6]

In [10]:
constructora

      237     515     524     484    541
0   45000  -46482  -32152  -31522   1352
1   81523  -45561 -351212 -313211   1542
2  354112 -322132  -32155  -31052  32155
3   65458  -31205   -4631   -6585   3512
4   31863   -3515  -20253  -35481  51694

In [11]:
sastreria = sastreria.iloc[:,1:6]

In [12]:
sastreria

    313   314  463   811  532
0  8562  9854  251  -126   20
1  4159  6236   56  -459  -56
2  7963  4896  123 -1987  -89
3  5269  2367 -568  -136  -78
4  4896  1968 -987  -258  -32

In [13]:
mecanica = mecanica.iloc[:,1:6]

In [14]:
mecanica

    811    468   524  812  519
0 -8420   9658 -1250 -340  -50
1 -7518  11562 -1362 -260  -46
2 -3245   9351 -1450 -351  -82
3 -4689  13412 -1600 -251  -49
4 -8659  12058 -1200 -102  -88

abogados

In [15]:
abogados = abogados.iloc[:,1:6]

In [16]:
abogados

     531    541    551   561   931
0 -15243  20352  -3451  3210  1321
1 -15345  32210 -25232  2152  3215
2 -16203  51502  -5411  5462  3522
3 -22150  32201  -3125  5132  2151
4 -32210  21220  -1352  5480  1232

In [17]:
servicios_medicos = servicios_medicos.iloc[:,1:6]

In [18]:
servicios_medicos

      621     531   541   811   333
0  247080  -92383 -2000 -3276 -4718
1  319820  -72339 -1233 -5783 -2455
2  421228  -91282 -3829 -6372 -3498
3  123345  -45363 -3384 -4433 -1223
4  548343 -150000 -5348 -8272 -9233

In [19]:
frames = [carpinteria, constructora, sastreria, mecanica, abogados, servicios_medicos]

In [20]:
matriz = pd.concat(frames)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [45]:
matriz = matriz.fillna(0)

In [46]:
clases = {0:'carpinteria',
         1:'constructora',
         2:'sastreria',
         3:'mecania',
         4:'abogados',
         5:'servicios médicos'}

In [47]:
import numpy as np
import matplotlib.pyplot as plt

from sklearn.svm import LinearSVC 
from sklearn.model_selection import train_test_split

In [48]:
data = matriz.values
objetivos = [[i]*5 for i in range(6)]
objetivos = np.vstack(objetivos).reshape(-1,1)
data_train, data_test, obj_train, obj_test = train_test_split(data,objetivos,test_size=0.2)

In [51]:
clf = LinearSVC().fit(data_train,obj_train.ravel())

In [52]:
clf.score(data_test,obj_test)

1.0