In [99]:
from sklearn import datasets
import pandas as pd
path = "Datasets/"
carpinteria = pd.read_csv(path+"carpinteria.csv") 
constructora = pd.read_csv(path+"Constructoras.csv")
sastreria = pd.read_csv(path+"sastreria.csv")
mecanica = pd.read_csv(path+"mecanica.csv")
abogados = pd.read_csv(path+"Abogados.csv")
servicios_medicos = pd.read_csv(path+"ServiciosMedicos.csv")
X, y = datasets.load_iris(return_X_y=True)

In [100]:
carpinteria.columns = carpinteria.iloc[1,:]

In [101]:
carpinteria = carpinteria.iloc[2:,1:]

In [102]:
carpinteria

1    337    321    113    313     541
2  24000    299  -5000   -300   -5000
3  13990   1200  -2000   -300    -400
4  -3229  70400   -300   -400  -10000
5  12000  32019      0  -5000   -1200
6   4000   -290   -300  -4000    -399

In [103]:
constructora = constructora.iloc[:,1:6]

In [104]:
constructora

      237     515     524     484    541
0   45000  -46482  -32152  -31522   1352
1   81523  -45561 -351212 -313211   1542
2  354112 -322132  -32155  -31052  32155
3   65458  -31205   -4631   -6585   3512
4   31863   -3515  -20253  -35481  51694

In [105]:
sastreria = sastreria.iloc[:,1:6]

In [106]:
sastreria

    313   314  463   811  532
0  8562  9854  251  -126   20
1  4159  6236   56  -459  -56
2  7963  4896  123 -1987  -89
3  5269  2367 -568  -136  -78
4  4896  1968 -987  -258  -32

In [107]:
mecanica = mecanica.iloc[:,1:6]

In [108]:
mecanica

    811    468   524  812  519
0 -8420   9658 -1250 -340  -50
1 -7518  11562 -1362 -260  -46
2 -3245   9351 -1450 -351  -82
3 -4689  13412 -1600 -251  -49
4 -8659  12058 -1200 -102  -88

abogados

In [109]:
abogados = abogados.iloc[:,1:6]

In [110]:
abogados

     531    541    551   561   931
0 -15243  20352  -3451  3210  1321
1 -15345  32210 -25232  2152  3215
2 -16203  51502  -5411  5462  3522
3 -22150  32201  -3125  5132  2151
4 -32210  21220  -1352  5480  1232

In [111]:
servicios_medicos = servicios_medicos.iloc[:,1:6]

In [112]:
servicios_medicos

      621     531   541   811   333
0  247080  -92383 -2000 -3276 -4718
1  319820  -72339 -1233 -5783 -2455
2  421228  -91282 -3829 -6372 -3498
3  123345  -45363 -3384 -4433 -1223
4  548343 -150000 -5348 -8272 -9233

In [118]:
frames = [carpinteria, constructora, sastreria, mecanica, abogados, servicios_medicos]

In [119]:
matriz = pd.concat(frames)

/home/mario/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [121]:
matriz.fillna(0)

,113,237,313,314,321,333,337,463,468,484,...,524,531,532,541,551,561,621,811,812,931
2,-5000,0.0,-300,0.0,299,0.0,24000,0.0,0.0,0.0,...,0.0,0.0,0.0,-5000,0.0,0.0,0.0,0.0,0.0,0.0
3,-2000,0.0,-300,0.0,1200,0.0,13990,0.0,0.0,0.0,...,0.0,0.0,0.0,-400,0.0,0.0,0.0,0.0,0.0,0.0
4,-300,0.0,-400,0.0,70400,0.0,-3229,0.0,0.0,0.0,...,0.0,0.0,0.0,-10000,0.0,0.0,0.0,0.0,0.0,0.0
5,0,0.0,-5000,0.0,32019,0.0,12000,0.0,0.0,0.0,...,0.0,0.0,0.0,-1200,0.0,0.0,0.0,0.0,0.0,0.0
6,-300,0.0,-4000,0.0,-290,0.0,4000,0.0,0.0,0.0,...,0.0,0.0,0.0,-399,0.0,0.0,0.0,0.0,0.0,0.0
0,0,45000.0,0,0.0,0,0.0,0,0.0,0.0,-31522.0,...,-32152.0,0.0,0.0,1352,0.0,0.0,0.0,0.0,0.0,0.0
1,0,81523.0,0,0.0,0,0.0,0,0.0,0.0,-313211.0,...,-351212.0,0.0,0.0,1542,0.0,0.0,0.0,0.0,0.0,0.0
2,0,354112.0,0,0.0,0,0.0,0,0.0,0.0,-31052.0,...,-32155.0,0.0,0.0,32155,0.0,0.0,0.0,0.0,0.0,0.0
3,0,65458.0,0,0.0,0,0.0,0,0.0,0.0,-6585.0,...,-4631.0,0.0,0.0,3512,0.0,0.0,0.0,0.0,0.0,0.0
4,0,31863.0,0,0.0,0,0.0,0,0.0,0.0,-35481.0,...,-20253.0,0.0,0.0,51694,0.0,0.0,0.0,0.0,0.0,0.0
0,0,0.0,8562,9854.0,0,0.0,0,251.0,0.0,0.0,...,0.0,0.0,20.0,0,0.0,0.0,0.0,-126.0,0.0,0.0
1,0,0.0,4159,6236.0,0,0.0,0,56.0,0.0,0.0,...,0.0,0.0,-56.0,0,0.0,0.0,0.0,-459.0,0.0,0.0
2,0,0.0,7963,4896.0,0,0.0,0,123.0,0.0,0.0,...,0.0,0.0,-89.0,0,0.0,0.0,0.0,-1987.0,0.0,0.0
3,0,0.0,5269,2367.0,0,0.0,0,-568.0,0.0,0.0,...,0.0,0.0,-78.0,0,0.0,0.0,0.0,-136.0,0.0,0.0
4,0,0.0,4896,1968.0,0,0.0,0,-987.0,0.0,0.0,...,0.0,0.0,-32.0,0,0.0,0.0,0.0,-258.0,0.0,0.0
0,0,0.0,0,0.0,0,0.0,0,0.0,9658.0,0.0,...,-1250.0,0.0,0.0,0,0.0,0.0,0.0,-8420.0,-340.0,0.0
1,0,0.0,0,0.0,0,0.0,0,0.0,11562.0,0.0,...,-1362.0,0.0,0.0,0,0.0,0.0,0.0,-7518.0,-260.0,0.0
2,0,0.0,0,0.0,0,0.0,0,0.0,9351.0,0.0,...,-1450.0,0.0,0.0,0,0.0,0.0,0.0,-3245.0,-351.0,0.0
3,0,0.0,0,0.0,0,0.0,0,0.0,13412.0,0.0,...,-1600.0,0.0,0.0,0,0.0,0.0,0.0,-4689.0,-251.0,0.0
4,0,0.0,0,0.0,0,0.0,0,0.0,12058.0,0.0,...,-1200.0,0.0,0.0,0,0.0,0.0,0.0,-8659.0,-102.0,0.0
0,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0,...,0.0,-15243.0,0.0,20352,-3451.0,3210.0,0.0,0.0,0.0,1321.0
1,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0,...,0.0,-15345.0,0.0,32210,-25232.0,2152.0,0.0,0.0,0.0,3215.0
2,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0,...,0.0,-16203.0,0.0,51502,-5411.0,5462.0,0.0,0.0,0.0,3522.0
3,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0,...,0.0,-22150.0,0.0,32201,-3125.0,5132.0,0.0,0.0,0.0,2151.0
4,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0,...,0.0,-32210.0,0.0,21220,-1352.0,5480.0,0.0,0.0,0.0,1232.0
0,0,0.0,0,0.0,0,-4718.0,0,0.0,0.0,0.0,...,0.0,-92383.0,0.0,-2000,0.0,0.0,247080.0,-3276.0,0.0,0.0
1,0,0.0,0,0.0,0,-2455.0,0,0.0,0.0,0.0,...,0.0,-72339.0,0.0,-1233,0.0,0.0,319820.0,-5783.0,0.0,0.0
2,0,0.0,0,0.0,0,-3498.0,0,0.0,0.0,0.0,...,0.0,-91282.0,0.0,-3829,0.0,0.0,421228.0,-6372.0,0.0,0.0
3,0,0.0,0,0.0,0,-1223.0,0,0.0,0.0,0.0,...,0.0,-45363.0,0.0,-3384,0.0,0.0,123345.0,-4433.0,0.0,0.0
4,0,0.0,0,0.0,0,-9233.0,0,0.0,0.0,0.0,...,0.0,-150000.0,0.0,-5348,0.0,0.0,548343.0,-8272.0,0.0,0.0