In [116]:
from sklearn import datasets
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model
import pandas as pd
import numpy as np
path = "Datasets/"
carpinteria = pd.read_csv(path+"carpinteria.csv").apply(pd.to_numeric, errors='coerce')
constructora = pd.read_csv(path+"Constructoras.csv").apply(pd.to_numeric, errors='coerce')
sastreria = pd.read_csv(path+"sastreria.csv").apply(pd.to_numeric, errors='coerce')
mecanica = pd.read_csv(path+"mecanica.csv").apply(pd.to_numeric, errors='coerce')
abogados = pd.read_csv(path+"Abogados.csv").apply(pd.to_numeric, errors='coerce')
servicios_medicos = pd.read_csv(path+"ServiciosMedicos.csv").apply(pd.to_numeric, errors='coerce')
X, y = datasets.load_iris(return_X_y=True)
behavior_months = [1.3,0.7,0.8,0.95,1.1,1,1,1.1,0.93,1,1.25,1.55]

In [117]:
carpinteria.columns = carpinteria.iloc[1,:]

In [118]:
carpinteria = carpinteria.iloc[2:,1:]

In [181]:
def normalizar(M):
    m,n = M.shape
    M2 = np.zeros((m,n))
    
    sumas = []
    
    for i in range(m):
        sumas.append(sum([M[i,j] for j in range(n) if M[i,j] > 0]))
        
    for i in range(m):
        for j in range(n):
            M2[i,j] = M[i,j]/sumas[i]
            
    return M2
def promedio_meses(m,behavior_months):
    return np.array([behavior_months])*np.array([normalizar(m.values).mean(axis=0)]).T

In [120]:
carpinteria

1    337.0    321.0   113.0   313.0    541.0
2  24000.0    299.0 -5000.0  -300.0  -5000.0
3  13990.0   1200.0 -2000.0  -300.0   -400.0
4  -3229.0  70400.0  -300.0  -400.0 -10000.0
5  12000.0  32019.0     0.0 -5000.0  -1200.0
6   4000.0   -290.0  -300.0 -4000.0   -399.0

In [121]:
constructora = constructora.iloc[:,1:6]

In [122]:
constructora

      237     515     524     484    541
0   45000  -46482  -32152  -31522   1352
1   81523  -45561 -351212 -313211   1542
2  354112 -322132  -32155  -31052  32155
3   65458  -31205   -4631   -6585   3512
4   31863   -3515  -20253  -35481  51694

In [123]:
sastreria = sastreria.iloc[:,1:6]

In [124]:
sastreria

    313   314  463   811  532
0  8562  9854  251  -126   20
1  4159  6236   56  -459  -56
2  7963  4896  123 -1987  -89
3  5269  2367 -568  -136  -78
4  4896  1968 -987  -258  -32

In [125]:
mecanica = mecanica.iloc[:,1:6]

In [126]:
mecanica

    811    468   524  812  519
0 -8420   9658 -1250 -340  -50
1 -7518  11562 -1362 -260  -46
2 -3245   9351 -1450 -351  -82
3 -4689  13412 -1600 -251  -49
4 -8659  12058 -1200 -102  -88

abogados

In [127]:
abogados = abogados.iloc[:,1:6]

In [128]:
abogados

     531    541    551   561   931
0 -15243  20352  -3451  3210  1321
1 -15345  32210 -25232  2152  3215
2 -16203  51502  -5411  5462  3522
3 -22150  32201  -3125  5132  2151
4 -32210  21220  -1352  5480  1232

In [129]:
servicios_medicos = servicios_medicos.iloc[:,1:6]

In [130]:
servicios_medicos

      621     531   541   811   333
0  247080  -92383 -2000 -3276 -4718
1  319820  -72339 -1233 -5783 -2455
2  421228  -91282 -3829 -6372 -3498
3  123345  -45363 -3384 -4433 -1223
4  548343 -150000 -5348 -8272 -9233

In [131]:
frames = [carpinteria, constructora, sastreria, mecanica, abogados, servicios_medicos]

In [132]:
matriz = pd.concat(frames)

In [133]:
matriz = matriz.fillna(0)

In [134]:
clases = {0:'carpinteria',
         1:'constructora',
         2:'sastreria',
         3:'mecanica',
         4:'abogados',
         5:'servicios médicos'}

In [135]:
import numpy as np
import matplotlib.pyplot as plt

from sklearn.svm import LinearSVC 
from sklearn.model_selection import train_test_split

In [136]:
data = matriz.values
objetivos = [[i]*5 for i in range(6)]
objetivos = np.vstack(objetivos).reshape(-1,1)
data_train, data_test, obj_train, obj_test = train_test_split(data,objetivos,test_size=0.2)

In [137]:
clf = LinearSVC().fit(data_train,obj_train.ravel())

In [138]:
clf.score(data_test,obj_test)

1.0

In [187]:
modelo = []
meses=[1,2,3,4,5,6,7,8,9,10,11,12]
carpinteria_reg = promedio_meses(carpinteria,behavior_months)
constructora_reg = promedio_meses(constructora,behavior_months)
mecanica_reg = promedio_meses(mecanica,behavior_months)
abogados_reg = promedio_meses(abogados,behavior_months)
sastreria_reg = promedio_meses(sastreria,behavior_months)
servicios_medicos_reg = promedio_meses(servicios_medicos,behavior_months)
#poly_reg = PolynomialFeatures(degree=6)
#X_poly = poly_reg.fit_transform()
#pol_reg = LinearRegression()
#pol_reg.fit(X_poly, y)

In [188]:
aaaa=promedio_meses(carpinteria,behavior_months)

In [189]:
aaaa

array([[ 0.81521406,  0.43896142,  0.50167019,  0.59573335,  0.68979651,
         0.62708774,  0.62708774,  0.68979651,  0.5831916 ,  0.62708774,
         0.78385968,  0.971986  ],
       [ 0.45401065,  0.24446727,  0.27939117,  0.33177702,  0.38416286,
         0.34923896,  0.34923896,  0.38416286,  0.32479224,  0.34923896,
         0.4365487 ,  0.54132039],
       [-0.10834115, -0.05833754, -0.06667147, -0.07917238, -0.09167328,
        -0.08333934, -0.08333934, -0.09167328, -0.07750559, -0.08333934,
        -0.10417418, -0.12917598],
       [-0.29935494, -0.16119112, -0.18421842, -0.21875938, -0.25330033,
        -0.23027303, -0.23027303, -0.25330033, -0.21415392, -0.23027303,
        -0.28784129, -0.3569232 ],
       [-0.13030142, -0.0701623 , -0.08018549, -0.09522027, -0.11025505,
        -0.10023186, -0.10023186, -0.11025505, -0.09321563, -0.10023186,
        -0.12528983, -0.15535939]])