In [205]:
from sklearn import datasets
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model
import pandas as pd
import numpy as np
path = "Datasets/"
carpinteria = pd.read_csv(path+"carpinteria.csv").apply(pd.to_numeric, errors='coerce')
constructora = pd.read_csv(path+"Constructoras.csv").apply(pd.to_numeric, errors='coerce')
sastreria = pd.read_csv(path+"sastreria.csv").apply(pd.to_numeric, errors='coerce')
mecanica = pd.read_csv(path+"mecanica.csv").apply(pd.to_numeric, errors='coerce')
abogados = pd.read_csv(path+"Abogados.csv").apply(pd.to_numeric, errors='coerce')
servicios_medicos = pd.read_csv(path+"ServiciosMedicos.csv").apply(pd.to_numeric, errors='coerce')
X, y = datasets.load_iris(return_X_y=True)
behavior_months = [1.3,0.5,0.8,0.95,1.1,.8,.8,1.02,0.93,1,1.25,1.55]

In [206]:
carpinteria.columns = carpinteria.iloc[1,:]

In [207]:
carpinteria = order_index(carpinteria.iloc[2:,1:])

In [208]:
def order_index(M):
    c = M.copy()
    return c.reindex(sorted(c.columns), axis=1)
def normalizar(M):
    m,n = M.shape
    M2 = np.zeros((m,n))
    
    sumas = []
    
    for i in range(m):
        sumas.append(sum([M[i,j] for j in range(n) if M[i,j] > 0]))
        
    for i in range(m):
        for j in range(n):
            M2[i,j] = M[i,j]/sumas[i]
            
    return M2
def promedio_meses(m,behavior_months):
    return (np.array(m.columns),np.array([behavior_months])*np.array([normalizar(m.values).mean(axis=0)]).T)

In [209]:
carpinteria

1   113.0   313.0    321.0    337.0    541.0
2 -5000.0  -300.0    299.0  24000.0  -5000.0
3 -2000.0  -300.0   1200.0  13990.0   -400.0
4  -300.0  -400.0  70400.0  -3229.0 -10000.0
5     0.0 -5000.0  32019.0  12000.0  -1200.0
6  -300.0 -4000.0   -290.0   4000.0   -399.0

In [210]:
constructora = constructora.iloc[:,1:6]

In [211]:
constructora

      237     515     524     484    541
0   45000  -46482  -32152  -31522   1352
1   81523  -45561 -351212 -313211   1542
2  354112 -322132  -32155  -31052  32155
3   65458  -31205   -4631   -6585   3512
4   31863   -3515  -20253  -35481  51694

In [212]:
sastreria = sastreria.iloc[:,1:6]

In [213]:
sastreria

    313   314  463   811  532
0  8562  9854  251  -126   20
1  4159  6236   56  -459  -56
2  7963  4896  123 -1987  -89
3  5269  2367 -568  -136  -78
4  4896  1968 -987  -258  -32

In [214]:
mecanica = mecanica.iloc[:,1:6]

In [215]:
mecanica

    811    468   524  812  519
0 -8420   9658 -1250 -340  -50
1 -7518  11562 -1362 -260  -46
2 -3245   9351 -1450 -351  -82
3 -4689  13412 -1600 -251  -49
4 -8659  12058 -1200 -102  -88

abogados

In [216]:
abogados = abogados.iloc[:,1:6]

In [217]:
abogados

     531    541    551   561   931
0 -15243  20352  -3451  3210  1321
1 -15345  32210 -25232  2152  3215
2 -16203  51502  -5411  5462  3522
3 -22150  32201  -3125  5132  2151
4 -32210  21220  -1352  5480  1232

In [218]:
servicios_medicos = servicios_medicos.iloc[:,1:6]

In [219]:
servicios_medicos

      621     531   541   811   333
0  247080  -92383 -2000 -3276 -4718
1  319820  -72339 -1233 -5783 -2455
2  421228  -91282 -3829 -6372 -3498
3  123345  -45363 -3384 -4433 -1223
4  548343 -150000 -5348 -8272 -9233

In [220]:
frames = [carpinteria, constructora, sastreria, mecanica, abogados, servicios_medicos]

In [221]:
matriz = pd.concat(frames)

In [222]:
matriz = matriz.fillna(0)

In [223]:
clases = {0:'carpinteria',
         1:'constructora',
         2:'sastreria',
         3:'mecanica',
         4:'abogados',
         5:'servicios médicos'}

In [224]:
import numpy as np
import matplotlib.pyplot as plt

from sklearn.svm import LinearSVC 
from sklearn.model_selection import train_test_split

In [225]:
data = matriz.values
objetivos = [[i]*5 for i in range(6)]
objetivos = np.vstack(objetivos).reshape(-1,1)
data_train, data_test, obj_train, obj_test = train_test_split(data,objetivos,test_size=0.2)

In [226]:
clf = LinearSVC().fit(data_train,obj_train.ravel())

In [227]:
clf.score(data_test,obj_test)

0.6666666666666666

In [228]:
modelo = []
meses=[1,2,3,4,5,6,7,8,9,10,11,12]
modelo.append((0,promedio_meses(carpinteria,behavior_months)))
modelo.append((1,promedio_meses(constructora,behavior_months)))
modelo.append((2,promedio_meses(sastreria,behavior_months)))
modelo.append((3,promedio_meses(mecanica,behavior_months)))
modelo.append((4,promedio_meses(abogados,behavior_months)))
modelo.append((5,promedio_meses(servicios_medicos,behavior_months)))
#poly_reg = PolynomialFeatures(degree=6)
#X_poly = poly_reg.fit_transform()
#pol_reg = LinearRegression()
#pol_reg.fit(X_poly, y)

In [229]:
modelo[5][1][1]
modelo[5]

(5,
 (array(['621', '531', '541', '811', '333'], dtype=object),
  array([[ 1.3       ,  0.5       ,  0.8       ,  0.95      ,  1.1       ,
           0.8       ,  0.8       ,  1.02      ,  0.93      ,  1.        ,
           1.25      ,  1.55      ],
         [-0.37910989, -0.1458115 , -0.23329839, -0.27704184, -0.32078529,
          -0.23329839, -0.23329839, -0.29745545, -0.27120938, -0.29162299,
          -0.36452874, -0.45201564],
         [-0.01513933, -0.00582282, -0.00931651, -0.01106336, -0.0128102 ,
          -0.00931651, -0.00931651, -0.01187855, -0.01083044, -0.01164564,
          -0.01455705, -0.01805074],
         [-0.02534828, -0.00974934, -0.01559894, -0.01852375, -0.02144855,
          -0.01559894, -0.01559894, -0.01988865, -0.01813377, -0.01949868,
          -0.02437335, -0.03022295],
         [-0.01607549, -0.00618288, -0.00989261, -0.01174747, -0.01360233,
          -0.00989261, -0.00989261, -0.01261307, -0.01150016, -0.01236576,
          -0.0154572 , -0.01916693]])))

In [230]:
modelo[3][1]

(array(['811', '468', '524', '812', '519'], dtype=object),
 array([[-0.76356698, -0.29367961, -0.46988737, -0.55799126, -0.64609514,
         -0.46988737, -0.46988737, -0.5991064 , -0.54624407, -0.58735922,
         -0.73419902, -0.91040679],
        [ 1.3       ,  0.5       ,  0.8       ,  0.95      ,  1.1       ,
          0.8       ,  0.8       ,  1.02      ,  0.93      ,  1.        ,
          1.25      ,  1.55      ],
        [-0.16148726, -0.06211048, -0.09937678, -0.11800992, -0.13664307,
         -0.09937678, -0.09937678, -0.12670539, -0.1155255 , -0.12422097,
         -0.15527621, -0.1925425 ],
        [-0.03182432, -0.01224012, -0.0195842 , -0.02325623, -0.02692827,
         -0.0195842 , -0.0195842 , -0.02496985, -0.02276663, -0.02448025,
         -0.03060031, -0.03794438],
        [-0.00750782, -0.00288762, -0.0046202 , -0.00548648, -0.00635277,
         -0.0046202 , -0.0046202 , -0.00589075, -0.00537098, -0.00577525,
         -0.00721906, -0.00895163]]))

In [231]:
#revisar los dos anteriores

In [232]:
def sigmoid(x):
    return 1/(1+np.exp(x))

In [235]:
#nota: Asegurarse que una vez clasificadas, las variables vayan  donde deben. Ergo, orden alfabetico.
def salud(mes,variables,clase,modelo):
    error = 0
    for i in range(5):
        if variables[1][i] in modelo[clase][1][0]:
            #Que quiero.
            #Si la variable del individuo está en el modelo (ambas aparecen el el header)
            #Restar a la variable i la variable del modelo en la cual el indice sea el correspondiente a 
            match = modelo[clase][1][0].index(variables[0][i])
            error = error + variables[1][i]-modelo[clase][1][1][match][mes]
    return sigmoid(error)

In [234]:
def clasificador_Creditico(infoapi,salud):
    for a in infoapi:

SyntaxError: unexpected EOF while parsing (<ipython-input-234-a56f6883d576>, line 3)